.footer{
    height: 630px;
    position: relative;
    &__info{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 53px 55px 53px;
    }
    &__address{
        margin-bottom: 36px;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }
    &__phone{
        display: block;
        margin-bottom: 40px;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        line-height: 20px;
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        width: 53px;
        height: 52px;
        border: 2px solid #FFF;
        border-radius: 100%;
        img{
            height: 27px;
        }
    }
}