.title{
    color: $dark-color;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    &_left{
        color: #FFF;
        font-size: 36px;
        text-align: left;
        
    }
}
